/* Pour avoir des admonitions écris en plus grand. */
.md-typeset :is(.admonition, details) {
        font-size: 0.8rem;
}

/* ------------------------------ Admonitions supplémentaires ------------------------------ */
/* 1/ Les logos sont à aller chercher ici : https://fontawesome.com/icons */
/* 2/ Une fois identifié, il faut aller récupérer le code (balise <svg>) correspondant ici : */
/*        https://github.com/squidfunk/mkdocs-material/tree/master/material/.icons           */

/* Pour l'admonition "exercice" */

:root {
    --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>')
}

.md-typeset .admonition.exercice, .md-typeset details.exercice {
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title, .md-typeset .exercice > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title::before, .md-typeset .exercice > summary::before {
    background-color: rgb(43, 155, 70);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--exercice);
            mask-image: var(--md-admonition-icon--exercice);
}

/* Pour l'admonition "video" */

:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M16 3.75a.75.75 0 0 0-1.136-.643L11 5.425V4.75A1.75 1.75 0 0 0 9.25 3h-7.5A1.75 1.75 0 0 0 0 4.75v6.5C0 12.216.784 13 1.75 13h7.5A1.75 1.75 0 0 0 11 11.25v-.675l3.864 2.318A.75.75 0 0 0 16 12.25v-8.5zm-5 5.075l3.5 2.1v-5.85l-3.5 2.1v1.65zM9.5 6.75v-2a.25.25 0 0 0-.25-.25h-7.5a.25.25 0 0 0-.25.25v6.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-4.5z"/></svg>')
}

.md-typeset .admonition.video, .md-typeset details.video {
    border-color: rgb(125, 60, 152);
}

.md-typeset .video > .admonition-title, .md-typeset .video > summary {
    background-color: rgba(125, 60, 152, 0.1);
    border-color: rgb(125, 60, 152);
}

.md-typeset .video > .admonition-title::before, .md-typeset .video > summary::before {
    background-color: rgb(125, 60, 152);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
}

/* Pour l'admonition "définition" */

:root {
    /* C'est "book", en "solid" */
    --md-admonition-icon--definition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M96 0C43 0 0 43 0 96v320c0 53 43 96 96 96h320c17.7 0 32-14.3 32-32s-14.3-32-32-32v-64c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H96zm0 384h256v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16h192c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48h192c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>')
}

.md-typeset .admonition.definition, .md-typeset details.definition {
    border-color: rgb(125, 60, 152);
}

.md-typeset .definition > .admonition-title, .md-typeset .definition > summary {
    background-color: rgba(125, 60, 152, 0.1);
    border-color: rgb(125, 60, 152);
}

.md-typeset .definition > .admonition-title::before, .md-typeset .definition > summary::before {
    background-color: rgb(125, 60, 152);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--definition);
            mask-image: var(--md-admonition-icon--definition);
}

/* Pour l'admonition "theoreme" */

:root {
    /* C'est "key", en "solid" */
    --md-admonition-icon--theoreme: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0 160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24v-40h40c13.3 0 24-10.7 24-24v-40h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zm40-176c-22.1 0-40-17.9-40-40s17.9-40 40-40 40 17.9 40 40-17.9 40-40 40z"/></svg>')
}

.md-typeset .admonition.theoreme, .md-typeset details.theoreme {
    border-color: rgb(255, 0, 0);
}

.md-typeset .theoreme > .admonition-title, .md-typeset .theoreme > summary {
    background-color: #ff52521a;
    border-color: rgb(255, 0, 0);
}

.md-typeset .theoreme > .admonition-title::before, .md-typeset .theoreme > summary::before {
    background-color: rgb(255, 0, 0);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--theoreme);
            mask-image: var(--md-admonition-icon--theoreme);
}

/* Pour l'admonition "propriete" */

:root {
    /* C'est "gears", en "solid" */
    --md-admonition-icon--propriete: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M308.5 135.3c7.1-6.3 9.9-16.2 6.2-25-2.3-5.3-4.8-10.5-7.6-15.5l-3.1-5.4c-3-5-6.3-9.9-9.8-14.6-5.7-7.6-15.7-10.1-24.7-7.1L241.3 77c-10.7-8.8-23-16-36.2-20.9l-6.1-29c-1.9-9.3-9.1-16.7-18.5-17.8C173.7 8.4 166.9 8 160 8s-13.7.4-20.4 1.2c-9.4 1.1-16.6 8.6-18.5 17.8L115 56.1c-13.3 5-25.5 12.1-36.2 20.9l-28.3-9.2c-9-3-19-.5-24.7 7.1-3.5 4.7-6.8 9.6-9.9 14.6l-3 5.3c-2.8 5-5.3 10.2-7.6 15.6-3.7 8.7-.9 18.6 6.2 25l22.2 19.8c-1.1 6.7-1.7 13.7-1.7 20.8s.6 14.1 1.7 20.9l-22.2 19.8c-7.1 6.3-9.9 16.2-6.2 25 2.3 5.3 4.8 10.5 7.6 15.6l3 5.2c3 5.1 6.3 9.9 9.9 14.6 5.7 7.6 15.7 10.1 24.7 7.1l28.2-9.3c10.7 8.8 23 16 36.2 20.9l6.1 29.1c1.9 9.3 9.1 16.7 18.5 17.8 6.7.8 13.5 1.2 20.4 1.2s13.7-.4 20.4-1.2c9.4-1.1 16.6-8.6 18.5-17.8l6.1-29.1c13.3-5 25.5-12.1 36.2-20.9l28.2 9.3c9 3 19 .5 24.7-7.1 3.5-4.7 6.8-9.5 9.8-14.6l3.1-5.4c2.8-5 5.3-10.2 7.6-15.5 3.7-8.7.9-18.6-6.2-25l-22.2-19.8c1.1-6.8 1.7-13.8 1.7-20.9s-.6-14.1-1.7-20.9l22.2-19.8zM208 176c0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48 48 21.5 48 48zm296.7 324.5c6.3 7.1 16.2 9.9 25 6.2 5.3-2.3 10.5-4.8 15.5-7.6l5.4-3.1c5-3 9.9-6.3 14.6-9.8 7.6-5.7 10.1-15.7 7.1-24.7l-9.3-28.2c8.8-10.7 16-23 20.9-36.2L613 391c9.3-1.9 16.7-9.1 17.8-18.5.8-6.7 1.2-13.5 1.2-20.4s-.4-13.7-1.2-20.4c-1.1-9.4-8.6-16.6-17.8-18.5l-29.1-6.2c-5-13.3-12.1-25.5-20.9-36.2l9.3-28.2c3-9 .5-19-7.1-24.7-4.7-3.5-9.6-6.8-14.6-9.9l-5.3-3c-5-2.8-10.2-5.3-15.6-7.6-8.7-3.7-18.6-.9-25 6.2l-19.8 22.2c-6.8-1.1-13.8-1.7-20.9-1.7s-14.1.6-20.9 1.7l-19.8-22.2c-6.3-7.1-16.2-9.9-25-6.2-5.3 2.3-10.5 4.8-15.6 7.6l-5.2 3c-5.1 3-9.9 6.3-14.6 9.9-7.6 5.7-10.1 15.7-7.1 24.7l9.3 28.2c-8.8 10.7-16 23-20.9 36.2l-29.1 6c-9.3 1.9-16.7 9.1-17.8 18.5-.8 6.7-1.2 13.5-1.2 20.4s.4 13.7 1.2 20.4c1.1 9.4 8.6 16.6 17.8 18.5l29.1 6.1c5 13.3 12.1 25.5 20.9 36.2l-9.3 28.2c-3 9-.5 19 7.1 24.7 4.7 3.5 9.5 6.8 14.6 9.8l5.4 3.1c5 2.8 10.2 5.3 15.5 7.6 8.7 3.7 18.6.9 25-6.2l19.8-22.2c6.8 1.1 13.8 1.7 20.9 1.7s14.1-.6 20.9-1.7l19.8 22.2zM464 400c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z"/></svg>')
}

.md-typeset .admonition.propriete, .md-typeset details.propriete {
    border-color: #00b0ff;
}

.md-typeset .propriete > .admonition-title, .md-typeset .propriete > summary {
    background-color: #00b0ff1a;
    border-color: #00b0ff;
}

.md-typeset .propriete > .admonition-title::before, .md-typeset .propriete > summary::before {
    background-color: #00b0ff;
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--propriete);
            mask-image: var(--md-admonition-icon--propriete);
}

/* Pour l'admonition "remarque" */

:root {
    /* C'est "scroll", en "solid" */
    --md-admonition-icon--remarque: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M0 80v48c0 17.7 14.3 32 32 32h64V80c0-26.5-21.5-48-48-48S0 53.5 0 80zm112-48c10 13.4 16 30 16 48v304c0 35.3 28.7 64 64 64s64-28.7 64-64v-5.3c0-32.4 26.3-58.7 58.7-58.7H480V128c0-53-43-96-96-96H112zm352 448c61.9 0 112-50.1 112-112 0-8.8-7.2-16-16-16H314.7c-14.7 0-26.7 11.9-26.7 26.7v5.3c0 53-43 96-96 96h272z"/></svg>')
}

.md-typeset .admonition.remarque, .md-typeset details.remarque {
    border-color: #00c853;
}

.md-typeset .remarque > .admonition-title, .md-typeset .remarque > summary {
    background-color: #00c8531a;
    border-color: #00c853;
}

.md-typeset .remarque > .admonition-title::before, .md-typeset .remarque > summary::before {
    background-color: #00c853;
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--remarque);
            mask-image: var(--md-admonition-icon--remarque);
}

/* Pour l'admonition "exemple" */

:root {
    /* C'est "pen", en "solid" */
    --md-admonition-icon--exemple: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="m362.7 19.3-48.4 48.4 130 130 48.4-48.4c25-25 25-65.5 0-90.5l-39.4-39.5c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2c-2.5 8.5-.2 17.6 6 23.8s15.3 8.5 23.7 6.1L151 475.7c14.1-4.2 27-11.8 37.4-22.2l233.3-233.2-130-130z"/></svg>')
}

.md-typeset .admonition.exemple, .md-typeset details.exemple {
    border-color: rgb(0, 0, 255);
}

.md-typeset .exemple > .admonition-title, .md-typeset .exemple > summary {
    background-color: #10419611;
    border-color: rgb(0, 0, 255);
}

.md-typeset .exemple > .admonition-title::before, .md-typeset .exemple > summary::before {
    background-color: rgb(0, 0, 255);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--exemple);
            mask-image: var(--md-admonition-icon--exemple);
}