/* Le titre principal (avec #) est centré. */
h1 {
    text-align: center;
    /* Réinitialisation du compteur. */
    counter-reset: section_cpt;
}

h2 {
    /* Réinitialisation du compteur. */
    counter-reset: subsection_cpt;
}

h3 {
    /* Réinitialisation du compteur. */
    counter-reset: subsubsection_cpt;
}

h4 {
    /* Réinitialisation du compteur. */
    counter-reset: subsubsubsection_cpt;
}

h5 {
    /* Réinitialisation du compteur. */
    counter-reset: subsubsubsubsection_cpt;
}

/* Les titres des sections sont 1., 2., ... */
h2::before {
    counter-increment: section_cpt;
    content: counter(section_cpt) ". ";
}

/* Les titres des sous-sections sont 1.1, 2.3, ... */
h3::before {
    counter-increment: subsection_cpt;
    content: counter(section_cpt) ". " counter(subsection_cpt) ". ";
}

/* Les titres des sous-sous-sections sont 1.1.1, 2.3.4, ... */
h4::before {
    counter-increment: subsubsection_cpt;
    content: counter(section_cpt) ". " counter(subsection_cpt) ". " counter(subsubsection_cpt) ". ";
}

/* Les titres des sous-sous-sections sont 1.1.1.1, 2.3.4.5, ... */
h5::before {
    counter-increment: subsubsubsection_cpt;
    content: counter(section_cpt) ". " counter(subsection_cpt) ". " counter(subsubsection_cpt) ". " counter(subsubsubsection_cpt) ". ";
}

/* Les titres des sous-sous-sections sont 1.1.1.1.1, 2.3.4.5.6, ... */
h6::before {
    counter-increment: subsubsubsubsection_cpt;
    content: counter(section_cpt) ". " counter(subsection_cpt) ". " counter(subsubsection_cpt) ". " counter(subsubsubsection_cpt) ". " counter(subsubsubsubsection_cpt) ". ";
}